body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gray;
    }

#game-name {
    text-align: center;
    color: rgb(238, 238, 238) 
}
#root {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    text-align: center;
}

button {
    height:20px; 
    width:100px; 
    margin: -40px -50px; 
    position:absolute;
    top:50%; 
    left:50%;
    
}

.red {
    color: red;
}

.character-grid {
    height:20px; 
    width:100px; 
    margin: -80px -200px; 
    position:absolute;
    top:50%; 
    left:50%;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 100px);
}


.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.box:hover {
   background-color: rgb(204, 204, 204);
   cursor: pointer;
 }

 .player-grid {
    margin: -80px -200px; 
    position:absolute;
    top:80%; 
    left:45%;
    text-align: center;    
    display: grid;
    grid-gap: 90px;
    align-items: center;
}

.box2 {
    grid-row: 1;
}

#game {
    display: grid;
    width: 75vw;
    height: 75vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items:flex-start;
    justify-items:center;
}
.game-card {
    width: 9vw;
    height: 13vh;
    border: 1px solid;
    background-color: white;
    background-image: url('../assets/card.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.game-card:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.good {
    width: 9vw;
    height: 13vh;
    border: 1px solid;
    background-color: white;
    background-image: url('../assets/good.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bad {
    width: 9vw;
    height: 13vh;
    border: 1px solid;
    background-color: white;
    background-image: url('../assets/bad.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}