body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    background-repeat: no-repeat;
    background-size:contain;
    }

#game-name {
    text-align: center;
    color: rgb(238, 238, 238);
    font-family: 'Press Start 2P', cursive;
    
}
#root {
    width: 80%;
    height: 85vh;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button {
  padding: 30px;
  position: absolute;
  top:50%; 
  left:50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: lightgray;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-weight:200;
  font-family: 'Press Start 2P', cursive;
}

button:hover{
    filter: brightness(95%);
}

button:active {
    box-shadow: 0 5px #666;
    transform: translate(-50%, -40%);
  }

h1, h2 {
    font-family: 'Black Ops One', cursive;
}

h2 {
    font-size: 1.2em;
}

.character-select-header {
    color: yellowgreen;
}

.character-grid {
    margin-top: 5vh;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 100px);
}


.box {
    /* background-color: #444; */
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline; */
}

.box > * {
    pointer-events: none;
  }
#mario-box {
    background-image: url("../assets/characters/mario1.webp");
}
#dk-box {
    background-image: url("../assets/characters/dk1.webp");
}
#link-box {
    background-image: url("../assets/characters/link1.webp");
}
#fox-box {
    background-image: url("../assets/characters/fox1.webp");
}
#yoshi-box {
    background-image: url("../assets/characters/yoshi1.webp");
    background-position: 1vw;
}
#pikachu-box {
    background-image: url("../assets/characters/pikachu1.webp");
    background-position: right;
}
#kirby-box {
    background-image: url("../assets/characters/kirby1.webp");
    background-position: 1vh;
}
#samus-box {
    background-image: url("../assets/characters/samus1.webp");
}
.box p {
    user-select: none;
    position: relative;
    bottom: 92%;
    right: 32%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.box:hover {
   box-shadow: 0 0 12px 12px #a8cff9;
   cursor: pointer;
   
 }

 .sprite {
    background-size: contain;
 }

 .player-grid {
    grid-auto-flow: column;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7vw;
    align-items: center;
    justify-content: flex-end;
}

.blackbox {
    opacity: 0;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items:left;
    align-items: center;
}

.move {
    animation: character-move 1s infinite;
}

.victor-move {
    animation: victor-move 4s infinite;
}

.flipcard {
    animation: flip-card 4s linear;
}

.play-again {
    margin-top: 30px;
}
 
@keyframes flip-card {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
}
@keyframes character-move{
    0% {
      transform: translateX(-10px);
    }
    49% {
      transform: translateX(10px) ;
    }
    50% {
      transform: translateX(10px) ;
    }
    100% {
      transform: translateX(-10px) ;
    }
}

@keyframes victor-move{
    0% {
      transform: translateX(-10px) rotateY(0deg);
    }
    49% {
      transform: translateX(10px) rotateY(360deg);
    }
    50% {
      transform: translateX(10px) rotateY(360deg);
    }
    100% {
      transform: translateX(-10px) rotateY(0deg);
    }
}

.gameboard {
    background-color: rgba( 54, 202, 197, 0.8);
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 3px, transparent 3px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 3px, transparent 60px),
    linear-gradient(60deg, rgba(139,139,139,.6) 25%, transparent 25%, transparent 75%, rgba(139,139,139,.6) 75%, rgba(139,139,139,.6)),
    linear-gradient(120deg, rgba(139,139,139,.6) 25%, transparent 25%, transparent 75%, rgba(139,139,139,.6) 75%, rgba(139,139,139,.6));
    background-size: 70px 120px;
    }

#game {
    display: grid;
    width: 75vw;
    height: 75vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items:flex-start;
    justify-items:center;
}
.game-card {
    width: 9vw;
    height: 13vh;
    background-color: rgba(255, 255, 255, 0.637);
    background-image: url('../assets/card.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

}

.game-card:hover {
    box-shadow: 0 0 12px 12px #468cd7;
    cursor: pointer;
}

.good {
    width: 9vw;
    height: 13vh;
    background-color: rgba(255, 255, 255, 0.637);
    background-image: url('../assets/good.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.bad {
    width: 9vw;
    height: 13vh;
    background-color: rgba(255, 255, 255, 0.637);
    background-image: url('../assets/bad.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}